@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400i,500i&display=swap");
@import url("https://use.typekit.net/vrh8ueg.css");

$gray: #98999a;
$ltpk: #d8bddc;
$pink: #e96bb0;
$purp: #8f4899;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background: lighten($ltpk, 19%);
}

html,
body {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

#index {
    background: #fff;
}

h1 {
    box-sizing: border-box;
    font-family: adobe-garamond-pro, serif;
    font-size: 5.4em;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    text-align: center;
    max-width: 128rem;
    margin: auto;
    padding: 1.7rem;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0)
    );
}

h2 {
    font-family: adobe-garamond-pro, serif;
    font-size: 4.8em;
    font-weight: 400;
    font-style: italic;
    color: $purp;
    text-align: center;
    margin: 8.2rem 0 3.2rem;
    &:first-of-type {
        margin-top: 0;
    }
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: $pink;
    text-transform: uppercase;
    margin: 2.1em 0 0.8em;
}

.btn {
    color: #fff;
    padding: 0.8em 1.6em;
    border-radius: 0.2em;
    background: darken($gray, 10%);
    transition: 350ms ease-in-out;
    &:hover {
        background: $gray;
    }
}

.btn-pink {
    color: #fff;
    background: $pink;
    &:hover {
        color: #fff;
        background: lighten($pink, 10%);
    }
}

header {
    position: relative;
    height: 11.8em;
    max-width: 1680px;
    background: #fff;
    margin: auto;
    img {
        margin: 2.6em 2.6em;
        cursor: pointer;
    }
    nav {
        display: block;
        position: absolute;
        top: 51px;
        right: 4em;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline;
                font-size: 1.4em;
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-right: 2em;
                &:last-of-type {
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    color: $gray;
                    transition: 350ms ease-in-out;
                    padding: 1em;
                    &:hover {
                        color: darken($gray, 15%);
                    }
                }
                &#involved {
                    position: relative;
                }
                ul#involved-drop {
                    display: none;
                    position: absolute;
                    left: 0em;
                    top: 2.4em;
                    font-size: 0.7em;
                    width: 22em;
                    padding: 0;
                    background: #fff;
                    box-shadow: rgba(0, 0, 0, 0.125) 0 2px 5px;
                    li {
                        display: block;
                        margin: 1em;
                        a {
                            text-decoration: none;
                            color: $gray;
                            padding: 1em 0.25em;
                            transition: 350ms ease-in-out;
                            &:hover {
                                color: darken($gray, 15%);
                            }
                        }
                    }
                }
                &#involved:hover ul#involved-drop {
                    display: block;
                }
            }
        }
    }
}

#index {
    header {
        position: absolute;
        z-index: 1;
        background: none;
    }
}

.full-banner {
    display: table;
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #fff, transparent 181px),
        url("../img/field.jpg");
    background-size: cover;
    background-position: center bottom;
}

.half-banner {
    display: table;
    height: 50vh;
    max-width: 1680px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
    margin: auto;
    background: lighten($gray, 20%);
    background-position: 50% 50%;
    background-size: cover;
}

.tagline-box {
    display: table-cell;
    text-align: center;
    width: 100vw;
    vertical-align: middle;
    .tagline {
        display: table-cell;
        width: 100vw;
        vertical-align: middle;
        height: 200px;
    }
}

#volunteer-banner {
    background-image: url("../img/womenstudy.jpg");
}

#about-banner {
    background-image: url("../img/overlook.jpg");
}

#partners-banner {
    background-image: url("../img/lakeeola.jpg");
}

.main-text {
    min-height: calc(50vh - 28.8rem);
    max-width: 1680px;
    box-sizing: border-box;
    background: #fff;
    padding: 8.2rem 2rem;
    margin: auto;
}

article {
    max-width: 1000px;
    margin: auto;
    padding: 0 2em;
}

p,
ul.main-list {
    font-size: 1.6em;
    font-weight: 400;
    color: darken($gray, 15%);
    line-height: 1.8;
    letter-spacing: 1px;
}

ul.main-list {
    margin: 1em 0 0 0;
    padding-left: 5rem;
}

footer {
    clear: both;
    display: table;
    position: relative;
    height: 8.8em;
    width: 100%;
    max-width: 1680px;
    margin: auto;
    background: url("../img/butterfly.png") $purp;
    background-position: center center;
    background-repeat: no-repeat;

    p {
        display: table-cell;
        vertical-align: middle;
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        padding: 1em;
        cursor: default;
        a {
            color: inherit;
            font-weight: 900;
            text-decoration: none;
        }
    }
}

.partner {
    margin: 18px;
    max-width: 250px;
    width: calc(25% - 38px);
    padding-top: 0;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.partners {
    text-align: center;
}

.partner-box {
    padding-top: 100%;
    background-position: center center;
    background-size: cover;
    transition: 350ms ease-in-out;
}

#sc {
    background-image: url(../img/sc-gray.png), url(../img/sc-rgb.png);
    &:hover {
        background-image: url(../img/sc-rgb.png);
    }
}

#and {
    background-image: url(../img/and-gray.png);
    &:hover {
        background-image: url(../img/and-rgb.png);
    }
}

#cr {
    background-image: url(../img/cr-gray.png);
    &:hover {
        background-image: url(../img/cr-rgb.png);
    }
}

#csc {
    background-image: url(../img/csc-gray.png);
    &:hover {
        background-image: url(../img/csc-rgb.png);
    }
}

#fit {
    background-image: url(../img/fit-gray.png);
    &:hover {
        background-image: url(../img/fit-rgb.png);
    }
}

#fl {
    background-image: url(../img/fl-gray.png);
    &:hover {
        background-image: url(../img/fl-rgb.png);
    }
}

#foc {
    background-image: url(../img/foc-gray.png);
    &:hover {
        background-image: url(../img/foc-rgb.png);
    }
}

#id {
    background-image: url(../img/id-gray.png);
    &:hover {
        background-image: url(../img/id-rgb.png);
    }
}

#io {
    background-image: url(../img/io-gray.png);
    &:hover {
        background-image: url(../img/io-rgb.png);
    }
}

#jp {
    background-image: url(../img/jp-gray.png);
    &:hover {
        background-image: url(../img/jp-rgb.png);
    }
}

#ourm {
    background-image: url(../img/ourm-gray.png);
    &:hover {
        background-image: url(../img/ourm-rgb.png);
    }
}

#up {
    background-image: url(../img/up-gray.png);
    &:hover {
        background-image: url(../img/up-rgb.png);
    }
}

form {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 400;
    color: darken($gray, 15%);
    line-height: 1.8;
    letter-spacing: 1px;
    width: 70%;
}

td:nth-child(odd) {
    padding: 0 1em 1em 0;
}

td:nth-child(even) {
    padding: 0 0 1em 0em;
}

input,
textarea {
    display: inline;
    box-sizing: border-box;
    font-size: 1em;
    color: darken($gray, 15%);
    line-height: 1.8;
    letter-spacing: 1px;
    background: lighten($gray, 35%);
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
    &::placeholder {
        color: lighten($gray, 5%);
    }
    &:focus {
        outline: none !important;
        background: lighten($ltpk, 15%);
    }
}

input {
    width: calc(35vw - 0.5em);
    max-width: calc(350px - 0.5em);
    margin-bottom: 16px;
    &:nth-child(even) {
        margin-left: 10px;
    }
}

textarea {
    resize: none;
    width: 100%;
    height: 17.75em;
}

button {
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    margin-top: 6px;
    background: $pink;
    transition: 350ms ease-in-out;
    &:hover {
        background: lighten($pink, 10%);
    }
}

#contact-info {
    display: inline-block;
    position: relative;
    top: -94px;
    width: 22vw;
    max-width: 260px;
    margin-left: 2em;
    h3 {
        &:first-child {
            margin-top: 0px;
        }
    }
}
